body {
  margin: 15px;
  padding: 15px;
  font-family: sans-serif;
}

.search {
  color: orange;
  font-size: 2em;
}
.home {
  color: orange;
  font-size: 2em;
}
.contact {
  color: orange;
  font-size: 2em;
}
.logo-food{
  color: white;
  font-size: 2.2em;
}
.logo-money{
  color: white;
  font-size: 3.3em;
}


.image {
  height: 200px;
  width: 200px;

}

li{
  list-style: none;
}
.title {
  height: 35px;
  text-align: center;
}
.nav {
  display: inline-block;
  text-align:center;


  color: white;
  padding-top: 50px;
  /*float:left;*/
  /*display: flex;
  flex-wrap: wrap;
  flex-direction: row;*/

}
.icons{
  padding-top: 50px;
}

.active {
  font-weight: bold;
}

.header {
  height: 70px;
  background-color: green;

}
.bowl {
  height: 30px,
}
/*.footer {
  heigth: 20px;
  background-color: gray;

}*/

.button-gr{
  display: inline-block;
  font-size: .7em;
}

.filter{
  border: none;
}

.all-buttons{
  border-bottom-width:2px;
  border-bottom-color:black;
  border-bottom-style: solid;
  margin-top: 30px;
  padding-bottom: 20px;
  display: flex;
  /*list-style: none;*/
}

.recipe-img{
  height: 280px;
  width: 400px;
}

/*RecipeInfo Styling*/
.title {
  margin: 50px;
}
.info-icon{
  font-size: 2.5em;
  color: #ff512f;
  color: #fc354c;

}


.details {
  padding-left: 35px;
}
.icons-list {
  /*display: flex;
  flex-direction: column;
  align-items:flex-start;*/
  font-size: .8em;
  font-weight: bold;
  margin-left: 45px;
}


/* Dropdown Button */
/*.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}*/

/* Dropdown button on hover & focus */
/*.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}*/

/* The container <div> - needed to position the dropdown content */
/*.dropdown {
    position: relative;
    display: inline-block;
}
*/
/* Dropdown Content (Hidden by Default) */
/*.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}*/

/* Links inside the dropdown */
/*.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}*/

/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {background-color: #f1f1f1}*/
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
/*.show {display:block;}*/
