body {
  /*margin: 15px;
  padding: 15px;*/
  font-family: sans-serif;
}

/*Nav Styling*/
.nav-icon{
  color: orange;
  font-size: 2em;
}
.nav-display {
  display: flex;
  float: right;
  padding-top: 20px;
}

.logo-icon{
  color: white;
  font-size: 2.2em;
}
.app-name{
  color: white;
  font-size: 2em;
}
.logo-display{
  display: flex;
  float: left;
  padding-top: 15px;
  text-align: center;
}


.image {
  height: 200px;
  width: 200px;

}

li{
  list-style: none;
}
#title {
  height: 50px;
  width : 200px;
  text-align: center;
  /*text-align: center;*/
}


.icons{
  padding-top: 50px;
}

.active {
  font-weight: bold;
}

.header {
  height: 70px;
  background-color: green;

}

.footer {
  heigth: 100px;
  background-color: gray;

}

.bowl {
  height: 30px,
}


/*Main search page styling*/

/*FilterableRecipeTable*/
.all-buttons{
  border-bottom-width:2px;
  border-bottom-color:black;
  border-bottom-style: solid;
  margin-top: 30px;
  /*margin-bottom: 30px;*/
  padding-bottom:45px;
  text-align: center;
}

.search-all{
  margin-top: 30px;
}


/*All Button components*/
.button-gr{
  display: inline-block;
}

.filter{
  border: none;
}

/*Pagination*/
#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
}
/*RecipeInfo Styling*/

.recipe-img{
  height: 380px;
  width: 500px;
  padding-bottom: 20px;
}

.info-icons-list {
  /*display: flex;
  flex-direction: column;
  align-items:flex-start;*/
  /*font-size: .8em;*/
  font-weight: bold;
  margin-left: 70px;
}

.info-icon-size{
  font-size: 4em;
  color: #ff512f;
  color: #fc354c;

}
.info-icons-spcing{
  height: 50px;
}
.info-title{
  height: 50px;
  text-align: left;
  margin-bottom: 60px;
}

.info-instructions{
  text-align: justify;
  background-color: lightblue;
  padding-bottom: 20px;
}
.info-img{
  width: 40px;
  color: red;
}


/* Dropdown Button */
/*.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}*/

/* Dropdown button on hover & focus */
/*.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}*/

/* The container <div> - needed to position the dropdown content */
/*.dropdown {
    position: relative;
    display: inline-block;
}
*/
/* Dropdown Content (Hidden by Default) */
/*.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}*/

/* Links inside the dropdown */
/*.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}*/

/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {background-color: #f1f1f1}*/
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
/*.show {display:block;}*/
