html {
    position: relative;
    min-height: 100%;
}

body {
  font-family: Kavivanar ;
  font-size: 1.8em;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
}
/*Nav Styling*/
.nav-icon{
  color: orange;
  font-size: 2em;
  /*spacing between nav*/
  /*margin-left: 20px;*/
  margin-right: 40px;

}
.nav-display {
  display: flex;
  float: right;
  padding-top: 15px;
  margin-right: -10px;
}

.logo-display{
  display: flex;
  float: left;
  padding-top: 10px;
  margin-left: 10px;
}

.logo-icon{
  color: white;
  font-size: 2.2em;
}
.app-name{
  color: white;
  font-size: 2em;
}

.image {
  height: 200px;
  width: 200px;

}

li{
  list-style: none;
}

#title {
  height: 70px;
  width : 200px;
  text-align: center;
}

header.floating-header {
  display: block;
  position: fixed;
  background-color: green;
  color: white;
  top: 0;
  left: 0;
  margin-bottom: 20px;
  right: 0;
  height: 70px;
  z-index: 2;
}

#for-fixed-header{
  height: 50px;
}

.footer {
  background-color: #E1F5C4;
  border-top: 1px solid #E7E7E7;
  text-align:center;
  padding-top:16px;
  position: absolute;
  margin-bottom:-60px;
  bottom: 0;
  height: 60px;
  width: 100%;
}
.footer-icon {
  /*color: #5FC3E4;*/
  /*color: #FF8008;*/
  color: #8E54E9;
  font-size: 2em;

}
#social{
float: right;
margin-right: 25px;

}

#disclaimer{
  float: left;
  margin-left: 25px;
}

/*Main search page styling*/

/*FilterableRecipeTable*/
.all-buttons{
  border-bottom-width:2px;
  border-bottom-color:black;
  border-bottom-style: solid;
  margin-top: 30px;
  padding-bottom:45px;
  text-align: center;
}

.search-all{
  margin-top: 30px;
}

.home{
  letter-spacing: 0.05em;
  min-height: 30px;
}

#no-result{
  font-size: 2.2em;
  color: purple;
}

/*All Button components*/
.button-gr{
  display: inline-block;
}

.filter{
  border: none;
}

/*RecipeInfo Styling*/
.recipe-img{
  height: 380px;
  width: 500px;
  padding-bottom: 20px;
}

.info-icons-list {
  font-weight: bold;
  margin-left: 70px;
}

.info-icon-size{
  font-size: 4em;
  color: #ff512f;
  color: #fc354c;
}

.info-icons-spcing{
  height: 60px;
}

.info-title{
  height: 50px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 60px;
}

.info-instructions{
  text-align: justify;
  width:  ;
  background-color: #E5E5BE;
  padding: 20px;
}

td {
  width:10px;
}

.info-img{
  width: 40px;
  color: red;
}
